*{
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: white;
   box-sizing: border-box; 
}
#logo a {
    color: rgba(76, 175, 80, 1);
  font-weight: 800;
  font-size: 36px;
}
.homepage h1{
  font-size: 88px;
  width: 750px;
  
}
.bbb{
    width: 1440px;
    margin: 0 auto;
}
.da{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 120px;
    position: fixed;
    width: 1440px;
    margin: 0 auto;
}
.text{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 20px;
}
.text p{
    width: 300px;
}
.db{
    background: rgba(70, 85, 100, 1);
width: 510px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.green{
    color: rgba(76, 175, 80, 1) ;
}
.homepage button{
    background: rgba(76, 175, 80, 1);
   padding: 20px 20px;
   width: 200px;
   font-weight: 700;
   font-size: 18px  ;
   border: none;
}
.homepage{
    background-image:  url(./assets/Rectangle\ 97.png), url(./assets/aa9bffefb9453071580c827fa45ded8f43ed280d.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1440px;
    margin: 0 auto;
    background-position: right;
    height: 818px;
    display: flex;
}
.da ul{
    display: flex;
    gap: 100px;
}
.da a{
    text-shadow: 1px 1px 5px black;
    font-weight: 600;
}

.homepage h3{
    display: flex; 
    gap: 10px;
    align-items: center;
    justify-content: start;
}
.homepage h3 span{
    width: 70px;
}

.box_img{
box-shadow: 35px 35px 1px rgba(200, 230, 201, 1);

}


.abus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 818px;
    gap: 70px;
}
.abus *{
    color: black;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box_box{
    display: flex;
    gap: 10px;
    align-items: center;
}
.box_text{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-around;
}
.tt{
    width: 1200px;
}
.whus{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.whus *{

color: black    
}
.green{
    color: rgba(76, 175, 80, 1) ;
}

.nj{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.nj > div{
    border: 1px solid rgba(200, 230, 201, 1);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  width: 325px;
  height: 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.nj .sm{
    position: absolute;
    bottom: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
#gr{
    background: rgba(200, 230, 201, 1);
}